@using AspMVCCoreGit.Repository
@using Microsoft.Extensions.Options
@inject IBookRepository _bookRepository //This is way we can call dependencey Injection in our View 
@inject IConfiguration _configuration
@inject IOptions<NewBookAlertConfig> _newBookAlertConfig //This is way we can call IOptions for configuraion in our View
@inject IOptionsSnapshot<NewBookAlertConfig> _newBookAlertConfigSnapshot //This is way we can call IOptionsSnapshot for configuraion in our View
@inject IOptionsSnapshot<NewBookAlertConfig> _ThiredPartyBookConfig //This is way we can call IOptionsSnapshot for configuraion in our View
@{
    var newBookAlertConfigSnapshot = _newBookAlertConfigSnapshot.Value;
    var newBook = _configuration.GetSection("NewBookAlert");
    var newBookAlert = new NewBookAlertConfig();// this way we can get value from appsetting using Bind method
    _configuration.Bind("NewBookAlert", newBookAlert);
    var thiredPartyBookConfig = _ThiredPartyBookConfig.Get("ThiredPartyBook");

}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> @* @_bookRepository.GetBookName() *@  @_configuration["AppName"]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
              
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetAllBooks">Get All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="AddNewBook">Add New Book</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
            </div>
        </div>
    </nav>
    @if (newBookAlertConfigSnapshot.DisplayNewBookAlert)//this is way we can get gat value from appsetting.json file using IOptionsSnapshot configuration
    {
        <div class="alert alert-info" role="alert">
            @newBookAlertConfigSnapshot.BookName
        </div>
    }
    @if (thiredPartyBookConfig.DisplayNewBookAlert)//Read configuration using Named options in asp.net core from appsettings
    {
        <div class="alert alert-info" role="alert">
            @thiredPartyBookConfig.BookName
        </div>
    }
  @*   @if (_newBookAlertConfig.Value.DisplayNewBookAlert)//this is way we can get gat value from appsetting.json file using IOptions configuration
    {
        <div class="alert alert-info" role="alert">
            @_newBookAlertConfig.Value.BookName
        </div>
    } *@
  @*   @if (newBookAlert.DisplayNewBookAlert)//this is way we can get gat value from appsetting.json file using Bind method
    {
        <div class="alert alert-info" role="alert">
            @newBookAlert.BookName
        </div>
    } *@
    @*    @if (newBook.GetValue<bool>("DisplayNewBookAlert"))//this is way we can get gat value from appsetting.json file using GetSection method
    {
        <div class="alert alert-info" role="alert">
            @(newBook.GetValue<string>("BookName"))
        </div>
    } *@
  @*   @if (_configuration.GetValue<bool>("NewBookAlert:DisplayNewBookAlert"))
    {
        <div class="alert alert-info" role="alert">
            @(_configuration.GetValue<string>("NewBookAlert:BookName"))
        </div>
    } *@
   
</header>